body {
  display: flex;
  justify-content: center;
  background-color: #ffffff;
  align-items: center;
  width: 100vw;
  height: 100vh;
  margin: 0;
}

.str-video {
  background-color: #272a30;
  color: #ffffff;
  height: 100dvh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  min-width: 0;
  max-width: 100%;
}